body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: min-content auto;
}

.main {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.center {
    display: flex;
    align-items: center;
}

.container {
    max-width: 800px;
    /* Adjust size as needed */
    margin: 50px auto;
    /* Center the container */
    padding: 20px;
    /* Inner spacing */
    background-color: #fff;
    /* Background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Slight shadow for floating effect */
    border-radius: 8px;
    /* Rounded corners */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Smooth transition */
}

.icon-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.icon-item {
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.2s;
}

.icon-item:hover {
    transform: scale(1.2);
}

.top-bar {
    background-color: #333;
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 10px;
}

.triggerList {
    width: 100%;
    height: 100%;
}

.cue-actions {
    background-color: #444;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
}

.cue-actions button {
    width: 6em;
    height: 3em;
    font-size: larger;
    transition: all;
    transition-duration: .3s;
}

.next-cue-button {
    background-color: #a9e9ac;
    border: none;
    border-radius: 5px;
}

.next-cue-button:hover {
    background-color: #39e941;
}

.next-cue-button:active {
    background-color: #29a530;
    transition-duration: 0.1s;
}

.prev-cue-button {
    background-color: rgb(177, 177, 177);
    border: none;
    border-radius: 5px;
}

.prev-cue-button:hover {
    background-color: rgb(138, 138, 138);
}

.prev-cue-button:active {
    background-color: rgb(83, 83, 83);
    transition-duration: 0.1s;
}

.cue-list-options input[type="button"] {
    background-color: #007BFF;
    border: none;
    padding: 5px 10px;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.cue-list-options input[type="button"]:hover {
    background-color: #45a049;
}

.cue-list-options input[type="button"]:active {
    background-color: #1b601e;
}

.modal {
    padding: 20px;
    width: 80%;
    overflow-y: scroll;
    overflow-x: wrap;
    max-height: 90%;
    max-width: 600px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal-close-btn {
    font-size: 1.2em;
    margin-right: 20px;
    margin-top: 20px;
    color: #aaa;
    background-color: #ffffff;
    border: solid #aaa;
    border-width: 1px;
    border-radius: 5px;
    cursor: pointer;
}

.modal-close-btn:hover {
    border: solid #444;
    border-width: 1px;
    color: black;
}

.modal label,
.modal select,
.modal input,
.create-action-action-btn {
    display: block;
    width: 100%;
    margin: 10px 0;
}

.modal select,
.modal input {
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.action-btn {
    margin-left: 5px;
    padding: 5px 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.action-btn:hover {
    background-color: #45a049;
}

.action-btn:active {
    background-color: #1b601e;
}

.color-input {
    margin: 10px 0px !important;
    display: flex !important;
    align-items: center;
}

.color-input span {
    margin-right: 8px;
}

.color-input input {
    width: 4em !important;
    height: 3em;
    padding: 2px !important;
}

.custom-checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

.custom-checkbox .checkmark {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-checkbox input[type="checkbox"]:checked+.checkmark {
    background-color: #4CAF50;
    border-color: #4CAF50;
}

.custom-checkbox input[type="checkbox"]:checked+.checkmark::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.custom-checkbox {
    margin: 20px 0px !important;
    display: flex !important;
    align-items: center;
}

.checkbox-label {
    margin-right: 8px;
    /* Space between the label and checkbox */
}

.custom-checkbox .checkmark:hover {
    background-color: #f0f0f0;
}

.create-action-checkbox {
    width: min-content !important;
}

.cue-list {
    width: 100%;
}

.cue {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    cursor: pointer;
}

.cue-info {
    flex-grow: 1;
}

.cue-buttons {
    display: none;
}

.cue:hover .cue-buttons {
    display: flex;
    width: fit-content;
    flex-direction: row;
}

.actions {
    margin-top: 10px;
}

.action {
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 3px;
}

.action-buttons {
    display: none;
}

.action:hover .action-buttons {
    display: inline-block;
}

.action-name {
    flex-grow: 1;
}

.hidden {
    display: none !important;
}

/* Toast styles */
.toast {
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    position: fixed;
    z-index: 1000;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 16px;
    font-size: 17px;
}

.toast.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 3s;
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}